html {scroll-behavior: smooth; }
h2 {margin: 0px -45px 0px 45px; }
footer {text-align: center; }

* {
    font-family: 'Quicksand', Poppins, Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    color: #525252;
    transition: .5s;
}

*::selection {
    background-color: #fff;
    color: #3898ff;
}

*:focus {
    color: red;
    transform: scale(1.01);
}

:root {
    --primary-color: #3a4052;
}

body .welcome {
    text-align: center;
    margin: 15px;

    box-sizing: content-box;
    font-size: 3.5rem;
    color: black;
}

.left img {
    margin-left: 45em;
}

body .nav nav ul {
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    list-style: none;
}

strong {
    color: inherit;
}

body .nav nav ul a {
    margin: 25px;
    text-decoration: none;
    padding: 5px;
    border-bottom: 2px solid white;
}

body .nav nav ul a:hover {
    border-bottom: 2px solid black;
    font-size: 1.1em;
}

.background {
    background-size: cover;
    width: 120%;
    height: 120%;
}

.about-main-content .about-page-header {
    text-align: center;
    margin: 25px;
}

.about-page-header {
    text-align: center;
    font-size: 32px;
    margin-bottom: 50px;
}

.video-container {
    text-align: center;
    margin: 50px;
    z-index: -1;
}

.about-main-content p {
    font-family: 'Quicksand';
    line-height: 1.8em;
}

.about-main-content article {
    margin: 25px;
    max-width: 60ch;
    font-size: 1.3em;
}

.about-main-content .about {
    display: flex;
}

aside img {
    margin: 25px;
    border-radius: 100%;
}

.youtube {
    color: white;
    text-decoration: none;
    padding: 2em;
    margin: 30px;
    background-color: black;
    text-align: center;
}

.youtube:hover + span {
    visibility: visible;
    color: white;
    background: black;
}

span {
    background: black;
    visibility: hidden;
}

footer {
    padding: 2em;
    background-color: black;
    color: white;
}

.team p {
    line-height: 1.8em;
}

.team {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.team img {
    width: 25%;
    height: 25%;
    margin-left: 2em;
}

.team p {
    max-width: 40ch;
    padding: 1em;
    margin-left: 2em;
}

.team {
    margin-top: 3em;
}

.left img {
    margin-left: 40em;
}

.videos {
    text-align: center;
}

.videos iframe {
    margin: 20px;
}

h1 {
    font-weight: 300;
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 15px;
}

.what-to-expect {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.what-to-expect ul {
    list-style: none;
    background: #000;
}

.what-to-expect li {
    padding: 1em;
    font-family: 'Poppins', Poppins;
    font-weight: 500;
    font-size: 3em;
}

.what-to-expect li:hover {
    background-color: #000;
    color: white;
}
