* {
    font-family: 'Quicksand', Poppins, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    color: black;
    transition: .2s;
}

*::selection {
    background-color: #fff !important;
    color: #3898ff !important;
}

html {scroll-behavior: smooth; }
h2 {margin: 0px -45px 0px 45px; }
footer {text-align: center; }

body .welcome {
    font-size: 3rem;
    text-align: center;
    margin: 15px;
}

.left img {
    margin-left: 45em;
}

body .nav nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

body .nav nav ul a {
    margin: 25px;
    text-decoration: none;
    transition: .2s;
    padding: 5px;
    border-bottom: 2px solid white;
}

body .nav nav ul a:hover {
    border-bottom: 2px solid black;
}

.background {
    background-size: cover;
    width: 120%;
    height: 120%;
}

.about-main-content .about-page-header {
    text-align: center;
    margin: 25px;
}

.about-page-header {
    text-align: center;
    font-size: 32px;
    margin-bottom: 50px;
}

.about-description {
    margin: 0px -45px 0px 45px;
    padding: 10px;
    border: 3px 0px 3px 3px solid #222;
    border-radius: 4px;
    padding-right: -50px;
}



.video-container {
    text-align: center;
    margin: 50px;
    z-index: -1;
}

.about-main-content article p {
    font-family: 'Quicksand';
    line-height: 1.8em;
}

.about-main-content article {
    margin: 25px;
    max-width: 60ch;
    font-size: 1.3em;
}

.about-main-content .about {
    display: flex;
}

aside img {
    margin: 25px;
    border-radius: 100%;
}

.youtube {
    color: white;
    text-decoration: none;
    padding: 2em;
    margin: 30px;
    background-color: black;
    text-align: center;
}

.youtube:hover + span {
    visibility: visible;
    color: white;
    background: black;
}

span {
    background: black;
    visibility: hidden;
}

footer {
    padding: 2em;
    background-color: black;
    color: white;
}

.team {
    display: flex;
    padding: 3em;
}

.team p {
    max-width: 45ch;
}

.team-img {
    border-radius: 50%;
}
